body {
  background-color: blueviolet;
}

.square {
  display: grid;
  align-items: center;
  width: 490px;
  height: 490px;
  background-color: orange;
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s;
}

.text {
  font-size: 56px;
  color: red;
  text-align: center;
  opacity: 0;
}

.fade-out {
  animation: fadeOut 2s ease;
}

.jump-animation {
  animation: jump 1s ease forwards;
}

.ctrl-animation {
  animation: ctrl 2s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes jump {
  0%,
  100% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
}

@keyframes ctrl {
  0%,
  100% {
    width: 490px;
    height: 490px;
  }
  50% {
    width: calc(490px + 25%);
    height: calc(490px - 40%);
  }
}
